name: app
description: "A new Flutter project."

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter

  
  cupertino_icons: ^1.0.8

  firebase_core: 4.2.0
  cloud_firestore: 6.0.3
  firebase_messaging: 16.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/imgs/

  fonts:
    - family: Poppins
      fonts:
      - asset: assets/fonts/Poppins-Regular.ttf
      - asset: assets/fonts/Poppins-Bold.ttf
        weight: 700
      - asset: assets/fonts/Poppins-Italic.ttf
        style: italic 
    
    - family: Amaranth
      fonts:
      - asset: assets/fonts/Amaranth-Regular.ttf
      - asset: assets/fonts/Amaranth-Bold.ttf
        weight: 700
      - asset: assets/fonts/Amaranth-Italic.ttf
        style: italic 
